<h2><%= @spot.name %></h2>

<table class="table">
  <tr>
    <th>名称</th>
    <td><%= @spot.name %></td>
  </tr>
  <tr>
    <th>所在地</th>
    <td><%= @spot.address %></td>
  </tr>
  <tr>
    <th>地図</th>
    <td><div id='map'></div></td>
  </tr>
</table>

<script>
  let map

  function initMap(){
    
    LatLng = { lat: <%= @spot.latitude %>, lng: <%= @spot.longitude %> };

    map = new google.maps.Map(document.getElementById('map'), {
      center: LatLng,
      zoom: 15,
    });

    marker = new google.maps.Marker({
      position: LatLng,
      map: map
    });
  }
</script>

<% if current_user.admin? %>
  <div class="text-center">
    <%= link_to "編集", edit_spot_path, class: "btn btn-outline-secondary btn-sm" %>
    <%= link_to "削除", edit_spot_path, method: :delete, data: { confirm: "本当に削除しますか？" }, class: "btn btn-outline-danger btn-sm" %>
  </div>
<% end %>

<h6>所蔵する国宝彫刻</h6>

<% if @spot.statues.empty? %>
  データがありません
<% else %>
  <ul>
    <% @spot.statues.each do |statue| %>
      <li><%= link_to statue.name, statue %></li>
    <% end %>
  </ul>
<% end %>

<div>
  <% if @spot.posts.empty? %>
    <h6>最新の投稿</h6>
    投稿はまだありません
  <% else %>
    <h6 class="mt-5">人気の投稿</h6>
    <div class="row">
      <%= render partial: "users/post", collection: @popular_posts %>
    </div>
    <h6 class="mt-5">最新の投稿</h6>
    <div class="jscroll">
      <div class="row">
        <%= render partial: "users/post", collection: @latest_posts %>
        <span class="d-none"><%== pagy_nav(@pagy) %></span>
      </div>
    </div>
  <% end %>
</div>

<script>
  $(function() {
  $('.jscroll').jscroll({
    loadingHtml: '読み込み中',
    contentSelector: '.jscroll',
    nextSelector: 'span.next:last a'
  });
});
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=<%= Rails.application.credentials.gmap[:api_key] %>&callback=initMap" async defer></script>
