<table class="table">
  <tr>
    <th>名前</th>
    <td><%= @spot.name %></td>
  </tr>
  <tr>
    <th>所在地</th>
    <td>〒<%= @spot.zip %>　<%= @spot.prefecture %>県<%= @spot.city %><%= @spot.address1 %><%= @spot.address2 %>
    </td>
  </tr>
  <tr>
    <th>地図</th>
    <td><div id='map'></div></td>
  </tr>
</table>

<script>
  let map

  function initMap(){
    
    LatLng = { lat: <%= @spot.latitude %>, lng: <%= @spot.longitude %> };

    map = new google.maps.Map(document.getElementById('map'), {
      center: LatLng,
      zoom: 17,
    });

    marker = new google.maps.Marker({
      position: LatLng,
      map: map
    });
  }
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=<%= Rails.application.credentials.gmap[:api_key] %>&callback=initMap" async defer></script>
