<div class="container wrapper spot">
  <% if user_signed_in? && current_user.admin? %>
    <div class="mb-4">
      <%= link_to "編集", edit_spot_path, class: "btn btn-outline-secondary btn-block" %>
    </div>
  <% end %>

  <h2><%= @spot.name %></h2>

  <p class="text-center"><%= image_tag resize180(@spot.image) if @spot.image.attached? %></p>

  <table class="table table-borderless">
    <tr>
      <th>名称</th>
      <td><%= @spot.name %></td>
    </tr>
    <tr>
      <th>所在地</th>
      <td><%= @spot.address %></td>
    </tr>
    <tr>
      <th>地図</th>
      <td><div id='map'></div></td>
    </tr>
  </table>

  <h2 class="mt-5">所蔵する国宝彫刻</h2>

  <% if @spot.statues.empty? %>
    データがありません
  <% else %>
    <ul>
      <% @spot.statues.each do |statue| %>
        <li><%= link_to statue.name, statue %></li>
      <% end %>
    </ul>
  <% end %>

  <div>
    <% if @spot.posts.empty? %>
      <h2 class="mt-5">人気の投稿</h2>
      投稿はまだありません
    <% else %>
      <h2 class="mt-5">人気の投稿</h2>
      <div class="row">
        <%= render partial: "users/post", collection: @popular_posts %>
      </div>
      <h2 class="mt-5">最新の投稿</h2>
      <div class="jscroll">
        <div class="row">
          <%= render partial: "users/post", collection: @latest_posts %>
          <span class="d-none"><%== pagy_nav(@pagy) %></span>
        </div>
      </div>
    <% end %>
  </div>
</div>

<script>
  let map

  function initMap(){
    
    LatLng = { lat: <%= @spot.latitude %>, lng: <%= @spot.longitude %> };

    map = new google.maps.Map(document.getElementById('map'), {
      center: LatLng,
      zoom: 15,
    });

    marker = new google.maps.Marker({
      position: LatLng,
      map: map
    });
  }
</script>

<script>
  $(function() {
    $('.jscroll').jscroll({
      loadingHtml: '読み込み中',
      contentSelector: '.jscroll',
      nextSelector: 'span.next:last a'
    });
  });
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=<%= Rails.application.credentials.gmap[:api_key] %>&callback=initMap" async defer></script>
