<h2><%= @spot.name %></h2>

<table class="table">
  <tr>
    <th>名称</th>
    <td><%= @spot.name %></td>
  </tr>
  <tr>
    <th>所在地</th>
    <td><%= @spot.address %></td>
  </tr>
  <tr>
    <th>地図</th>
    <td><div id='map'></div></td>
  </tr>
</table>

<script>
  let map

  function initMap(){
    
    LatLng = { lat: <%= @spot.latitude %>, lng: <%= @spot.longitude %> };

    map = new google.maps.Map(document.getElementById('map'), {
      center: LatLng,
      zoom: 17,
    });

    marker = new google.maps.Marker({
      position: LatLng,
      map: map
    });
  }
</script>

<h4>この場所の投稿</h4>

<% if @spot.posts.empty? %>
  投稿はまだありません
<% else %>
  <div class="row">
    <%= render partial: "users/post", collection: @spot.posts.with_attached_images %>
  </div>
<% end %>

<script src="https://maps.googleapis.com/maps/api/js?key=<%= Rails.application.credentials.gmap[:api_key] %>&callback=initMap" async defer></script>
