<% if false %>
<div class="mt-5">
  <% if @spots_search_result.blank? %>
    <p>検索結果がありません</p>
  <% else %>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>名称</th>
          <th>所在地</th>
          <th>住所</th>
        </tr>
      </thead>
      <tbody>
        <%= render partial: 'spots/spot', collection: @spots_search_result %>
      </tbody>
    </table>
  <% end %>
</div>
<% end %>

<div class="search__result">
  <% if @error_message %>
    <div class="error_message">
      <%= @error_message %>
    </div>
  <% else %>
    <% if @users_search_result.blank? and @hashtags_search_result.blank? and @spots_search_result.blank? and @statues_search_result.blank? %>
      <p>検索結果がありません</p>
    <% else %>
      <p>検索結果</p>
      <ol class="mb-0">
        <% @statues_search_result.each do |statue| %>
          <li class="mt-2">
            <%= link_to statue, id: "statue" do %>
              <i class="fas fa-spa fa-fw"></i> <strong><%= statue.name %></strong>
              <span class="text-sm-gray">（仏像）</span>
            <% end %>
          </li>
        <% end %>
        <% @spots_search_result.each do |spot| %>
          <li class="mt-2">
            <%= link_to spot, data: { "turbolinks" => false }, id: "spot" do %>
              <i class="fas fa-map-marker-alt fa-fw"></i> <strong><%= spot.name %></strong>
              <span class="text-sm-gray">（<%= spot.state %>）</span>
            <% end %>
          </li>
        <% end %>
        <% @hashtags_search_result.each do |hashtag| %>
          <li class="mt-2">
            <%= link_to "/posts/hashtag/#{hashtag.name}", id: "hashtag" do %>
              <i class="fas fa-hashtag fa-fw"></i> <strong><%= hashtag.name %></strong>
              <span class="text-sm-gray">（ハッシュタグ）</span>
            <% end %>
          </li>
        <% end %>
        <% @users_search_result.each do |user| %>
          <li class="mt-2">
            <%= link_to user, id: "user" do %>
              <%= image_tag resize20(user.image), class: "user__icon__20" %> <span class="user__name"><%= user.name %></span>
            <% end %>
          </li>
        <% end %>
      </ol>
    <% end %>
  <% end %>
</div>
