<div class="jumbotron">
  <div class="container-xl">
    <p>お寺や仏像との巡り合い</p>
    <h1>Buddhagram</h1>
  </div>
</div>

<div class="container">
  <div class="d-flex justify-content-center counter">
    <div class="border-right">
      <%= link_to spots_path do %>
        <span><%= @spots.count %></span><br>
        スポット
      <% end %>
    </div>
    <div>
      <%= link_to statues_path do %>
        <span><%= @statues.count %></span><br>
        仏像
      <% end %>
    </div>
    <div class="border-left">
      <%= link_to posts_latest_path do %>
        <span><%= @posts_count %></span><br>
        投稿
      <% end %>
    </div>
  </div>
</div>

<div class="container-xl search">
  <div class="wrapper">
    <h2>カテゴリ</h2>

    <div class="row pt-0 pb-0 search__buttons">
      <div class="col-md-6 search__button__locations">
        <a href="#" onclick="getPosition();">
          <div>
            <p class="caption"><i class="fas fa-location-arrow fa-fw"></i> 現在地周辺スポット</p>
            <div class="mask"></div>
          </div>
        </a>
      </div>

      <div class="col-md-6 search__button__posts">
        <%= link_to posts_latest_path do %>
          <div>
            <p class="caption"><i class="fas fa-images fa-fw"></i> みんなの投稿</p>
            <div class="mask"></div>
          </div>
        <% end %>
      </div>

      <div class="col-md-6 search__button__spots">
        <%= link_to spots_path do %>
          <div>
            <p class="caption"><i class="fas fa-map-marker-alt fa-fw"></i> スポット一覧</p>
            <div class="mask"></div>
          </div>
        <% end %>
      </div>

      <div class="col-md-6 search__button__statues">
        <%= link_to statues_path do %>
          <div>
            <p class="caption"><i class="fas fa-spa fa-fw"></i> 仏像一覧</p>
            <div class="mask"></div>
          </div>
        <% end %>
      </div>
    </div>

    <h2 class="mt-5">検索</h2>
    <%= render 'form' %>
  </div>
</div>


<!-- GoogleMap -->
<script>
  // 現在地取得処理
  function getPosition() {
    // 現在地を取得
    navigator.geolocation.getCurrentPosition(
      // 取得成功した場合
      function(position) {
        window.location.href = "/spots/search_location?latitude="+position.coords.latitude+"&longitude="+position.coords.longitude
       },
      // 取得失敗した場合
      function(error) {
        switch(error.code) {
          case 1: //PERMISSION_DENIED
            alert("位置情報の利用が許可されていません");
            break;
          case 2: //POSITION_UNAVAILABLE
            alert("現在位置が取得できませんでした");
            break;
          case 3: //TIMEOUT
            alert("タイムアウトになりました");
            break;
          default:
            alert("その他のエラー(エラーコード:"+error.code+")");
            break;
        }
      }
    );
  }
</script>
