<div class="wrapper">
  <% if false %>
    <div class="search__button">
      <%= button_tag type: "button", onclick: "getPosition();", class: "btn btn-success btn-block" do %>
        <i class="fas fa-location-arrow fa-fw"></i> 現在地周辺スポット
      <% end %>
    </div>
  <% end %>

  <h2>カテゴリで見つける</h2>

  <div class="row">
    <div class="col-sm-6">
      <div class="search__button">
        <a href="#" onclick="getPosition();">
          <div class="search__button__figure">
            <div class="search__button__image__locations">
              <p class="caption"><i class="fas fa-location-arrow fa-fw"></i> 現在地周辺スポット</p>
            </div>
            <div class="mask">
            </div>
          </div>
        </a>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="search__button">
        <%= link_to spots_path do %>
          <div class="search__button__figure">
            <div class="search__button__image__spots">
              <p class="caption"><i class="fas fa-map-marker-alt fa-fw"></i>スポット一覧</p>
            </div>
            <div class="mask">
            </div>
          </div>
        <% end %>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="search__button">
        <%= link_to statues_path do %>
          <div class="search__button__figure">
            <div class="search__button__image__statues">
              <p class="caption"><i class='fas fa-spa fa-fw'></i> 仏像一覧</p>
            </div>
            <div class="mask">
            </div>
          </div>
        <% end %>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="search__button">
        <%= link_to posts_latest_path do %>
          <div class="search__button__figure">
            <div class="search__button__image__posts">
              <p class="caption"><i class="far fa-images fa-fw"></i> みんなの投稿</p>
            </div>
            <div class="mask">
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="wrapper">
  <h2>キーワードで見つける</h2>
  <%= render 'form' %>
</div>

<!-- GoogleMap -->
<script>
  // 現在地取得処理
  function getPosition() {
    // 現在地を取得
    navigator.geolocation.getCurrentPosition(
      // 取得成功した場合
      function(position) {
        window.location.href = "/spots/search_location?latitude="+position.coords.latitude+"&longitude="+position.coords.longitude
       },
      // 取得失敗した場合
      function(error) {
        switch(error.code) {
          case 1: //PERMISSION_DENIED
            alert("位置情報の利用が許可されていません");
            break;
          case 2: //POSITION_UNAVAILABLE
            alert("現在位置が取得できませんでした");
            break;
          case 3: //TIMEOUT
            alert("タイムアウトになりました");
            break;
          default:
            alert("その他のエラー(エラーコード:"+error.code+")");
            break;
        }
      }
    );
  }
</script>
