<div class="w-50 mx-auto">
  <%= button_tag type: "button", onclick: "getPosition();", class: "btn btn-success btn-block" do %>
    <i class="fas fa-location-arrow fa-fw"></i> 現在地周辺スポット
  <% end %>

  <div class="mt-3">
    <%= link_to statues_path, class: "btn btn-primary btn-block" do %>
      <i class='fas fa-spa fa-fw'></i> 仏像一覧
    <% end %>
  </div>

  <div class="mt-3">
    <%= link_to spots_path, class: "btn btn-primary btn-block" do %>
      <i class="fas fa-map-marker-alt fa-fw"></i> スポット一覧
    <% end %>
  </div>

  <div class="mt-3">
    <%= link_to posts_latest_path, class: "btn btn-primary btn-block" do %>
      <i class="far fa-images fa-fw"></i> みんなの投稿
    <% end %>
  </div>

  <% if false %>
    <p class="mt-3">キーワード</p>
  <% end %>

  <div class="mt-3">
    <%= render 'form' %>
  </div>

  <% if false %>
    <h6 class="mt-5">最新の投稿</h6>
    <div class="row">
      <%= render partial: "users/post", collection: @posts %>
    </div>
    <div class="text-center">
      <%= link_to "みんなの投稿を見る", posts_latest_path %>
    </div>
  <% end %>
</div>



<!-- GoogleMap -->
<script>
  // 現在地取得処理
  function getPosition() {
    // 現在地を取得
    navigator.geolocation.getCurrentPosition(
      // 取得成功した場合
      function(position) {
        window.location.href = "/spots/search_location?latitude="+position.coords.latitude+"&longitude="+position.coords.longitude
       },
      // 取得失敗した場合
      function(error) {
        switch(error.code) {
          case 1: //PERMISSION_DENIED
            alert("位置情報の利用が許可されていません");
            break;
          case 2: //POSITION_UNAVAILABLE
            alert("現在位置が取得できませんでした");
            break;
          case 3: //TIMEOUT
            alert("タイムアウトになりました");
            break;
          default:
            alert("その他のエラー(エラーコード:"+error.code+")");
            break;
        }
      }
    );
  }
</script>
