<div class="wrapper__sm">
  <%= form_with model: @statue, local: true do |f| %>
    <div class="form-group">
      <%= f.label :name %>
      <%= f.text_field :name, class: "textfield" %>
    </div>
    <div class="form-group">
      <%= f.label :ruby %>
      <%= f.text_field :ruby, class: "textfield" %>
    </div>
    <div class="form-group">
      <%= f.label :grade %>
      <%= f.select :grade, { "如来": "如来", "菩薩": "菩薩", "明王": "明王", "天部": "天部", "その他": "その他" }, { include_blank: "選択してください（必須）", selected: "如来" }, { required: true, class: "form-control" } %>
    </div>
    <div class="form-group">
      <%= f.label :content %>
      <%= f.text_area :content, class: "textarea" %>
    </div>
    <div class="form-check">
      <%= f.label :spot %>
      <%= f.collection_check_boxes(:spot_ids, @spots, :id, :name) do |spot| %>
        <div class="block">
          <%= spot.label { spot.check_box + spot.text } %>
        </div>
      <% end %>
    </div>
    <div class="form-group">
      <%= f.label "image" %>
      <%= f.file_field :image, accept: "image/jpeg,image/gif,image/png", class: "form-control-file" %>
    </div>
    <div class="mt-5">
      <%= f.submit "更新", class: "btn btn-info btn-block" %>
      <hr>
      <%= link_to "削除", @statue, method: :delete, data: { confirm: "本当に削除しますか？" }, class: "btn btn-danger btn-block" %>
    </div>
  <% end %>
</div>
