<div class="wrapper__sm">
  <% if user_signed_in? && current_user.admin? %>
    <div class="mb-4">
      <%= link_to "編集", edit_statue_path, class: "btn btn-outline-secondary btn-block" %>
    </div>
  <% end %>

  <h2><%= @statue.name %></h2>

  <p class="text-center"><%= image_tag resize180(@statue.image) if @statue.image.attached? %></p>

  <table class="table table-borderless">
    <tr>
      <th>名称</th>
      <td>
        <%= @statue.name %><br>
        <%= @statue.ruby %>
      </td>
    </tr>
    <tr>
      <th>カテゴリ</th>
      <td><%= @statue.grade %></td>
    </tr>
    <tr>
      <th>説明</th>
      <td><%= @statue.content %></td>
    </tr>
  </table>

  <h2 class="mt-5">所蔵場所</h2>

  <ul>
    <% @statue.spots.each do |spot| %>
      <li>
        <%= link_to spot, data: { "turbolinks" => false } do %>
          <span class="link"><%= spot.name %></span><span class="text-sm-gray">（<%= spot.state %>）</span>
        <%end %>
      </li>
    <% end %>
  </ul>
</div>

<div class="mt-3 text-center">
  <%= link_to :back do %>
    <i class="far fa-arrow-alt-circle-left fa-fw"></i> もどる
  <% end %>
</div>
