<div class="profile">
  <div class="profile__left__side">
    <div class="profile__figure">
      <%= image_tag resize180(@user.image), class: "profile__image" %>
    </div>
  </div>
  <div class="profile__right__side">
    <div class="profile__button">
      <%= link_to "プロフィール編集", edit_user_registration_path, class: "btn btn-sm btn-outline-secondary" if @user == current_user %>
      <%= render "relationships/follow_form" if user_signed_in? %>
    </div>
    <div class="profile__name">
      <%= @user.name %>
    </div>
    <div class="profile__body">
      <%= @user.profile %>
    </div>
  </div>
</div>
