<div>
  <%= @user.name %>
</div>

<div>
  <%= @user.profile %>
</div>

<% if @user == current_user %>
  <div>
    <%= link_to 'プロフィール変更', edit_user_registration_path %>
  </div>
<% end %>

<div>
  <%= render 'relationships/follow_form' if user_signed_in? %>
</div>

<% @user ||= current_user %>
<div>
  <a href="<%= following_user_path(@user) %>">
    <strong id="following">
      <%= @user.following.count %>
    </strong>
    following
  </a>
  <a href="<%= followers_user_path(@user) %>">
    <strong id="followers">
      <%= @user.followers.count %>
    </strong>
    followers
  </a>
</div>
