<%= render "users/profile" %>

<% @user ||= current_user %>
<div class="d-flex mt-5">
  <div>
    <%= link_to @user do %>
      投稿<%= @user.posts.count %>件
    <% end %>
  </div>
  <div class="ml-5">
    <%= link_to following_user_path(@user) do %>
      フォロー中<%= @user.following.count %>人
    <% end %>
  </div>
  <div class="ml-5">
    <%= link_to followers_user_path(@user) do %>
      フォロワー<%= @user.followers.count %>人
    <% end %>
  </div>
</div>

<hr>

<% if @users.any? %>
  <% @users.each do |user| %>
    <div>
      <%= link_to user do %>
        <%= image_tag resize20(user.image), class: "user__icon__20" %> <span class="user__name"><%= user.name %></span>
      <% end %>
    </div>
  <% end %>
<% end %>
