<!-- 投稿内容表示 -->
<div class="post__show border">
  <div class="post__show__body">

    <!-- 投稿画像表示 -->
    <div class="post__show__left__side">
      <% @post.images.each do |image| %>
        <%= image_tag resize600(image), class: "post__image" %>
      <% end %>
    </div>

    <!-- ユーザー表示 -->
    <div class="post__show__right__side">
      <div class="post__show__username">
        <%= link_to @post.user do %>
          <% if @post.user.image.attached? %>
            <%= image_tag resize40(@post.user.image), class: "user__icon" %>
          <% else %>
            <%= image_pack_tag "user-icon.png", class: "user__icon" %>
          <% end %>
        <% end %>
        <%= link_to @post.user.name, @post.user %>
        <%= link_to @post.spot.name, @post.spot, data: { "turbolinks" => false } if @post.spot %>
      </div>

      <!-- 投稿本文 -->
      <% if false %>
        <div class="post__show__comment">
          <div class="post__show__copy">
            <div>
              <%= render_with_hashtags(safe_join(@post.content.split("\n"), tag(:br))) %>
            </div>
            <div class="post__time">
              <%= l @post.created_at %>
            </div>
            <!-- コメント表示 -->
            <% @comments.each do |comment| %>
              <div class="post__show__comment__body">
                <div class="comment_user__icon">
                  <%= link_to comment.user do %>
                    <% if comment.user.image.attached? %>
                      <%= image_tag resize40(comment.user.image), class: "user__icon" %>
                    <% else %>
                      <%= image_pack_tag "user-icon.png", class: "user__icon" %>
                    <% end %>
                  <% end %>
                </div>
                <div>
                  <%= link_to comment.user.name, comment.user, class: "comment_username" %>
                  <%= comment.content %><br>
                  <div class="time">
                    <%= time_ago_in_words(comment.created_at) %>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>

      

      <div class="post__show__copy">

        <!-- 投稿本文 -->
        <div>
          <%= render_with_hashtags(safe_join(@post.content.split("\n"), tag(:br))) %>
        </div>
        <div class="post__time">
          <%= l @post.created_at %>
        </div>

        <!-- コメント表示 -->

        <% @comments.each do |comment| %>
          <div class="post__show__comment__body">
            <div class="comment_user__icon">
              <%= link_to comment.user do %>
                <% if comment.user.image.attached? %>
                  <%= image_tag resize40(comment.user.image), class: "user__icon" %>
                <% else %>
                  <%= image_pack_tag "user-icon.png", class: "user__icon" %>
                <% end %>
              <% end %>
            </div>
            <div>
              <%= link_to comment.user.name, comment.user, class: "comment__username" %>
              <%= comment.content %><br>
              <div class="time">
                <%= time_ago_in_words(comment.created_at) %>
              </div>
            </div>
          </div>
        <% end %>

      </div>

      <!-- コメントフォーム -->
      <div class="post__show__comment__form">
        <%= form_for [@post, @comment], local: true do |f| %>
          <div class="form-group">
            <%= f.label :content, class: "d-none" %>
            <%= f.text_area :content, placeholder: "コメント", class: "form-control comment__textarea" %>
          </div>
          <div>
            <%= f.submit "送信", class: "btn btn-sm btn-secondary comment__btn" %>
          </div>
        <% end %>
      </div>
      
    </div>
  </div>
</div>

<!-- 投稿内容編集 -->
<div class="post__show__footer">
  <% if @post.user == current_user %>
    <%= link_to "編集", edit_post_path, class: "btn btn-sm btn-secondary" %>
    <%= link_to "削除", @post, class: "btn btn-sm btn-outline-danger", method: :delete, data: { confirm: "本当に削除しますか？" } %>
  <% end %>
</div>

<!-- スライダー表示 -->
<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>

<script type="text/javascript">
  $(document).ready(function(){
    $('.post__show__left__side').slick({
      dots: true,
      arrows: false
    });
  });
</script>
