<%= form_with model: @post, local: true do |f| %>
  <%= render "shared/error_messages", object: f.object %>
  <div class="form-group">
    <%= f.label "画像（必須）" %>
    <%= f.file_field :images, accept: "image/jpeg,image/gif,image/png", multiple: true, class: "form-control-file" %>
  </div>
  <div class="form-group">
    <%= f.label :content %>
    <%= f.text_area :content, class: "form-control", rows: "10" %>
  </div>
  <% if @spot.present? %>
    <div class="form-group">
      場所：<strong><%= @spot.name %></strong>
      <%= link_to "変更する（前のページに戻る）", posts_new_post_path, class: "ml-2 text-sm-gray" %>  
      <%= f.hidden_field :spot_id, value: @spot.id.to_i, class: "form-control" %>
    </div>
  <% end %>
  <div>
    <%= f.submit "投稿", class: "btn btn-secondary btn-block" %>
  </div>
<% end %>
