<div class="post border">
  <!-- 投稿したユーザ -->
  <div class="post__header">
    <%= link_to post.user do %>
      <% if post.user.image.attached? %>
        <%= image_tag resize40(post.user.image), class: "user__icon" %>
      <% else %>
        <%= image_pack_tag "user-icon.png", class: "user__icon" %>
      <% end %>
      <%= post.user.name %>
    <% end %>
    <%= link_to post.spot.name, post.spot, data: { "turbolinks" => false } if post.spot %>
  </div>

  <!-- 投稿された画像 -->
  <% if post.images.attached? %>
    <div class="post__figure">
      <% post.images.first(1).each do |image| %>
        <%= link_to post, data: { "turbolinks" => false } do %>
          <%= image_tag resize600(image), class: "post__image"%>
        <% end %>
      <% end %>
    </div>
  <% end %>
  
  <!-- 投稿内容 -->
  <div class="post__body">
    <!-- 投稿に対するアクション -->
    <div class="post__action d-flex">
      <!-- いいね -->
      <div id="post_<%= post.id %>">
        <%= render 'likes/like_form', post: post %>
      </div>
      <!-- コメント投稿 -->
      <div class="ml-2">
        <% if user_signed_in? %>
          <div>
            <%= link_to post do %>
              <i class="far fa-comment fa-fw"></i>
            <% end %>
            <%#= post.comments.count %>
          </div>
        <% end %>
      </div>
    </div>

    <!-- 投稿本文 -->
    <div class="post__copy">
      <strong><%= link_to post.user.name, post.user %></strong>
      <%= render_with_hashtags(post.content) %>
    </div>

    <!-- コメント表示 -->
    <div class="post__comment">
      <% post.comments.each do |comment| %>
        <div>
          <div>
            <%= link_to comment.user do %>
              <strong><%= comment.user.name %></strong>
            <% end %>
            <%= comment.content %>
          </div>
        </div>
      <% end %>
    </div>

    <!-- 投稿時刻 -->
    <div class="post__time">
      <%= time_ago_in_words(post.created_at) %>
    </div>

    <% if false %>
      <!--  -->
      <div>
        <% if post.likes.any? %>
          <p>いいねしたユーザ：
            <% post.liked_users.each do |user| %>
              <%= link_to user.name, user %>
            <% end %>
          </p>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
