<li>
  <div>
    <%= link_to post.user.name, post.user %>
  </div>

  <div>
    <%= post.content %>
  </div>

  <div>
    <%= post.created_at %>
  </div>

  <div>
    <%= render partial: 'likes/like', locals: { post: post } %>
  </div>

  <% if user_signed_in? %>
    <div>
      <%= link_to 'コメント', post %>
    </div>
  <% end %>
</li>
<hr>
