<li>
  <div>
    <%= link_to post.user.name, post.user %>
  </div>

  <div>
    <!-- 正規表現に合致する箇所を空欄にする -->
    <%#= simple_format(post.content.gsub!(/[#＃][\w\p{Han}ぁ-ヶｦ-ﾟー]+/, "")) %>
    <%#= post.content %>
    <%= render_with_hashtags(post.content) %>
  </div>

  <div>
    <%= post.created_at %>
  </div>

  <div>
    <%= render partial: 'likes/like', locals: { post: post } %>
  </div>

  <% if user_signed_in? %>
    <div>
      <%= link_to 'コメント', post %>
    </div>
  <% end %>
</li>
<hr>
