<li class='mb-5'>
  <div class='border rounded'>
    <div class='p-3'>
      <%= link_to post.user.name, post.user %>
    </div>

    <% if post.images.attached? %>
      <div>
        <% post.images.each do |image| %>
          <%= link_to post do %>
            <%= image_tag image %>
          <% end %>
        <% end %>
      </div>
    <% end %>

    <div class='d-flex p-3'>
      <div>
        <%= render partial: 'likes/like', locals: { post: post } %>
      </div>
      <div class='ml-2'>
        <% if user_signed_in? %>
          <div>
            <%= link_to post do %>
              <i class='far fa-comment fa-fw'></i>
            <% end %>
            <%#= post.comments.count %>
          </div>
        <% end %>
      </div>
    </div>

    <div class='p-3'>
      <!-- 正規表現に合致する箇所を空欄にする -->
      <%#= simple_format(post.content.gsub!(/[#＃][\w\p{Han}ぁ-ヶｦ-ﾟー]+/, "")) %>
      <%#= post.content %>
      <%= render_with_hashtags(post.content) %>
    </div>

    <div class='p-3'>
      <%= post.created_at %>
    </div>

    <% if false %>
      <div>
        <% if post.likes.any? %>
          <p>いいねしたユーザ：
            <% post.liked_users.each do |user| %>
              <%= link_to user.name, user %>
            <% end %>
          </p>
        <% end %>
      </div>
    <% end %>
  </div>
</li>