<!-- 投稿内容表示 -->
<div class="post">
  <% if @post.user == current_user %>
    <div class="p-3">
      <%= link_to "編集", edit_post_path, class: "btn btn-outline-secondary btn-block" %>
    </div>
  <% end %>
  <!-- 投稿したユーザ -->
  <div class="post__header">
    <div class="post__header__aside">
      <%= link_to @post.user do %>
        <%= image_tag resize40(@post.user.image), class: "user__icon__40" %>
      <% end %>
      <div class="user__and__location">
        <div>
          <%= link_to @post.user.name, @post.user, class: "user__name" %>
        </div>
        <%= link_to @post.spot.name, @post.spot, data: { "turbolinks" => false }, class: "user__post__location" if @post.spot %>
      </div>
    </div>
  </div>

  <!-- 投稿画像表示 -->
  <% if @post.images.attached? %>
    <div class="post__figure">
      <% @post.images.each do |image| %>
        <%= image_tag resize600(image), class: "post__image"%>
      <% end %>
    </div>
  <% end %>

  <!-- 投稿内容 -->
  <div class="post__body">
    <!-- 投稿に対するアクション -->
    <div class="post__action d-flex">
      <!-- いいね -->
      <div id="post_<%= @post.id %>">
        <%= render 'likes/like_form', post: @post %>
      </div>
      <!-- コメント投稿 -->
      <div class="ml-2">
        <% if user_signed_in? %>
          <div>
            <%= link_to post_path(anchor: "comment") do %>
              <i class="far fa-comment fa-lg fa-fw"></i>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <!-- コメント表示 -->
  <div class="comment__body">
    <div class="comment__scroll__area">
      <!-- 投稿本文 -->
      <div class="comment__copy">
        <%= link_to @post.user do %>
          <%= image_tag resize40(@post.user.image), class: "user__icon__40" %>
        <% end %>
        <div>
          <strong><%= link_to @post.user.name, @post.user %></strong>
          <%= render_with_hashtags(safe_join(@post.content.split("\n"), tag(:br))) %>
          <!-- 投稿時刻 -->
          <div class="time">
            <%= l @post.created_at %>
          </div>
        </div>
      </div>

      <% @comments.each do |comment| %>
        <div class="comment__copy">
          <%= link_to comment.user do %>
            <%= image_tag resize40(comment.user.image), class: "user__icon__40" %>
          <% end %>
          <div>
            <strong><%= link_to comment.user.name, comment.user %></strong>
            <%= comment.content %>
            <div>
              <span class="time"><%= l comment.created_at %></span>
              <%= link_to "削除", post_comment_path(@post.id, comment), method: :delete, class: "comment__link", data: { confirm: "本当に削除しますか？" } if comment.user == current_user %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <!-- コメントフォーム -->
  <% if user_signed_in? %>
    <div class="comment__form">
      <%= form_for [@post, @comment], local: true do |f| %>
        <div class="row">
          <div class="col-10 pr-0">
            <%= f.label :content, class: "d-none" %>
            <%= f.text_area :content, placeholder: "コメントを入力", rows: "2", class: "comment__textarea" %>
          </div>
          <div class="col-2 pl-0">
            <%= f.submit "送信", class: "comment__btn" %>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>

<!-- スライダー表示 -->
<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>

<script type="text/javascript">
  $(document).ready(function(){
    $('.post__figure').slick({
      dots: true
    });
  });
</script>
