<div>
  <div>
    <%= link_to @post.user.name, @post.user %>
  </div>
  <div>
    <%= render_with_hashtags(@post.content) %>
  </div>
  <div>
    <%= @post.created_at %>
  </div>
</div>

<div class='mt-3'>
  <% if @post.user == current_user %>
    <%= link_to '編集', edit_post_path, class: 'btn btn-sm btn-outline-secondary' %>
  <% end %>
</div>

<div class='mt-3 ml-3'>
  <% @post.comments.each do |comment| %>
    <div class='mt-3'>
      <div>
        <strong><%= link_to comment.user.name, comment.user %></strong>
        <%= comment.content %>
      </div>
      <div>
        <%= comment.created_at %>
      </div>
    </div>
  <% end %>
</div>

<hr>

<div class='mt-3'>
  コメント
  <%= form_for [@post, @comment], local: true do |f| %>
    <div class='form-group'>
      <%= f.label :content, class: 'd-none' %>
      <%= f.text_area :content, class: 'form-control' %>
    </div>
    <div>
      <%= f.submit '送信', class: 'btn btn-sm btn-light' %>
    </div>
  <% end %>
</div>