<!DOCTYPE html>
<html>
  <head>
    <title>Buddhagram</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= include_gon %>

    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class='navbar navbar-expand-lg navbar-light fixed-top bg-light shadow-sm'>
      <div class='container'>
        <%= link_to root_path, class: 'navbar-brand' do %>
          <i class='fas fa-spa'></i> <span style='font-family: fantasy'>Buddhagram</span>
        <% end %>
        <button class='navbar-toggler' type='button' data-toggle='collapse' data-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation'>
          <span class='navbar-toggler-icon'></span>
        </button>
        <div class='collapse navbar-collapse' id='navbarSupportedContent'>
          <ul class='navbar-nav ml-auto'>
            <!-- ログイン中のメニュー -->
            <% if user_signed_in? %>
              <li class='nav-item'>
                <%= link_to '/search', class: 'nav-link' do %>
                  <i class="fas fa-search fa-fw"></i> 検索
                <% end %>
              </li>
              <li class='nav-item'>
                <%= link_to user_timeline_path(current_user.id), class: 'nav-link' do %>
                  <i class="far fa-images fa-fw"></i> タイムライン
                <% end %>
              </li>
              <li class='nav-item'>
                <%= link_to new_post_path, class: 'nav-link' do %>
                  <i class="far fa-plus-square fa-fw"></i> 投稿する
                <% end %>
              </li>
              <li class='nav-item dropdown'>
                <a class='nav-link dropdown-toggle' href='#' id='navbarDropdown' role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false'>
                  <%= image_tag resize20(current_user.image), class: "sm__user__icon" %>
                </a>
                <div class='dropdown-menu' aria-labelledby='navbarDropdown'>
                  <%= link_to current_user, class: 'dropdown-item' do %>
                    <i class='far fa-user-circle fa-fw'></i> プロフィール
                  <% end %>
                  <%= link_to edit_user_registration_path(current_user), class: 'dropdown-item' do %>
                    <i class='fas fa-user-edit fa-fw'></i> プロフィール編集
                  <% end %>
                  <%= link_to 'スポットを登録する', '/spots/get_address', class: 'dropdown-item' %>
                  <div class='dropdown-divider'></div>
                  <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: 'dropdown-item' %>
                </div>
              </li>
              <!-- 非ログイン時のメニュー -->
            <% else %>
              <li class='nav-item'>
                <%= link_to 'サインアップ', new_user_registration_path, class: 'nav-link' %>
              </li>
              <li class='nav-item'>
                <%= link_to 'ログイン', new_user_session_path, class: 'nav-link' %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </nav>

    <div>
      <% if flash.notice %>
        <p class="notice alert alert-success"><%= notice %></p>
      <% end %>
      <% if flash.alert %>
        <p class="alert alert alert-danger"><%= alert %></p>
      <% end %>
    </div>

    <div class='container mt-3'>
      <%= yield(:body_attributes) if content_for?(:body_attributes) %>
      <%= yield %>
    </div>
  </body>
</html>
